
<!DOCTYPE html>
<html lang="en" class=" js no-touch">
<head>
  <title>Movie Booking</title>
  <meta charset="utf-8">
    <link href="~/css/ticketstyle.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
@*  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:600,300|Josefin+Slab:400,700,600italic,600,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/slick-team-slider.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css">*@


      <link rel="stylesheet" href="~/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:600,300|Josefin+Slab:400,700,600italic,600,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="~/css/slick-team-slider.css"/>
  <link rel="stylesheet" type="text/css" href="~/css/style.css">


    
  <!-- =======================================================
        Theme Name: Tempo
        Theme URL: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/
        Author: BootstrapMade.com
        Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>
<body>
	<!--HEADER START-->
	<div class="main-navigation navbar-fixed-top">
		<nav class="navbar navbar-default">
			<div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand">Cinema Cafe</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
			  <ul class="nav navbar-nav navbar-right">
			    
			   <li><a href="~/customerhome">HOME</a></li>
			   <li><a href="~/EditProfile">EDITPROFILE</a></li>
			    <li><a href="~/moviebooking">MOVIE BOOKING</a></li>
			   	    
			    <li><a href="#about">CANCELBOOKING</a></li>
                <li><a href="~/logout">LOGOUT</a></li>
                  
			  </ul>
			</div>
		  </div>
		</nav>
	</div>
	<!--HEADER END-->

	<!--BANNER START-->
	<div id="banner" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="jumbotron">
				 <label style="color:white">Show details</label>
                    <div class="form-sec">
                	
                        <table border="1" style="color:white">
                            
   @* @foreach (var item in Model)
    {
        <tr><td>
        @item.showid
            </td>
        <td>
        
        @item.moviename
             </td>
         <td>
      
        @item.date
              </td>
       <td>
        
        @item.starttime
              </td>
         <td>
        @item.endtime
            </td></tr>
    }*@
      </table>
                        </div>
                        <form method="post">
                            
                            <div class="col-md-4 form-group">
                             <label style="color:white">Book Id</label>
                            <input type="text" name="bookid" class="form-control text-field-box" id="bookid" value="@Session["bookid"]" readonly="readonly"/>
                            <div class="validation"></div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label style="color:white">Show Id</label>
                            <input type="text" name="showid" class="form-control text-field-box" id="showid" value="@Session["s"]" readonly="readonly"/>
                            <div class="validation"></div>
                        </div>
                        <div class="col-md-4 form-group">
                           <label style="color:white"> User Id</label>
                            <input type="text" name="userid" class="form-control text-field-box" id="userid" value="@Session["suserid"]" readonly="readonly"/>
                            <div class="validation"></div>
                            </div>
                        
                        <div class="col-md-4 form-group">
                            <label style="color:white">Total Seats</label>
                            <input type="text" name="count" class="form-control text-field-box" id="count" value="@Session["count"]" readonly="readonly"/>
                            <div class="validation"></div>
                        </div>
                        
                        <div>
                             
                            <button class="button-medium" id="#contact-Print" type="submit" name="Print" onclick="return print()" >Print</button>
                                 
                         </div>
@*                          <div class="cardWrap">
  <div class="card cardLeft">
    <h1>CinemaCafe<span>Cinema</span></h1>
    <div class="title">
      <h2>@Session["bookid"]</h2>
      <span>movie</span>
    </div>
    <div class="name">
      <h2>@Session["suserid"]</h2>
      <span>name</span>
    </div>
    <div class="seat">
      <h2>@Session["count"]</h2>
      <span>seats</span>
    </div>
    <div class="time">
      <h2>12:00</h2>
      <span>time</span>
    </div>
    
  </div>
  <div class="card cardRight">
    <div class="eye"></div>
    <div class="number">
      <h3>@Session["count"]</h3>
      <span>seats</span>
    </div>
    <div class="barcode"></div>
  </div>

</div>*@



                    </form>

				</div>
			</div>
		</div>
	</div>
	<!--BANNER END-->

	<!--CTA1 START-->
	<div class="cta-1">
		<div class="container">
			<div class="row text-center white">
				
			</div>
		</div>
	</div>
	<!--CTA1 END-->

	<!--SERVICE START-->
	<div id="service" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="page-title text-center">
					<h1>Our Service</h1>
					<p>Movie theater chain, offering state-of-the-art sound & projection technology. </p>
					<hr class="pg-titl-bdr-btm"></hr>
				</div>
				<div class="col-md-4">
					<div class="service-box">
						<div class="service-icon"><i class="fa fa-picture-o"></i></div>
						<div class="service-text">
							<h3>Design</h3>
							<p> A great variety of films are shown , ranging from animated films for children, blockbusters for general audiences and documentaries for patrons who are interested in non-fiction topics.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service-box">
						<div class="service-icon"><i class="fa fa fa-code"></i></div>
						<div class="service-text">
							<h3>combo offer</h3>
							<p> for every first booking food combo is free</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service-box">
						<div class="service-icon"><i class="fa fa-diamond"></i></div>
						<div class="service-text">
							<h3>hi tech theatre</h3>
							<p> have 5D facilities,sound woofers and hi definition projection</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--SERVICE END-->

	<!--PORTFOLIO START-->
	<div id="portfolio" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="page-title text-center">
					<h1>Our Previous Works</h1>
					<p>Showing all New movies <br>grab your seat </p>
					<hr class="pg-titl-bdr-btm"></hr >
				</div>
				<div class="port-sec">
					<div class="col-md-12 fil-btn text-center">
							<div class="filter wrk-title active" data-filter="all">Show All</div>
							<div class="filter wrk-title" data-filter=".category-1">Design</div>
							<div class="filter wrk-title" data-filter=".category-2">Development</div>
							<div class="filter wrk-title lst-cld" data-filter=".category-3">SEO</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!--PORTFOLIO END-->

	<!--TEAM START-->
	<div id="about" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="page-title text-center">
					<h1>Meet Our Team</h1>
					<p>Ravi Teja <br> Surya <br>soumya<br>Aleena<br>Marilla<br>contact:0454-9865321<br>email:cinemacafe@gmail.com</p>
					<hr class="pg-titl-bdr-btm"></hr>
				</div>
				
					</div>
					
						</div>
					
		</div>
	
	<!--TEAM END-->
    
	<!--CTA2 START-->
	<div class="cta2">
		<div class="container">
			<div class="row white text-center">
				<h3 class="wd75 fnt-24">Every great film should seem new every time you see it - Robert Egert</h3>
				<p class="cta-sub-title"></p>
				<a href="#" class="btn btn-default">go up!!!</a>
			</div>
		</div>
	</div>
	<!--CTA2 END-->

	<!--CONTACT START-->
	
	<!--CONTACT END-->
    <!--login START-->
	<div id="login" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="page-title text-center">
					
					
					<hr class="pg-titl-bdr-btm"></hr>
				</div>
                                
				
			</div>
		</div>
	</div>
	<!--CONTACT END-->

	<!--FOOTER START-->
	<footer class="footer section-padding">
		<div class="container">
			<div class="row">
				<div style="visibility: visible; animation-name: zoomIn;" class="col-sm-12 text-center wow zoomIn">
																	
				</div><!--- END COL -->
			</div><!--- END ROW -->
		</div><!--- END CONTAINER -->
	</footer>
	<!--FOOTER END-->
	<div class="footer-bottom">
		<div class="container">
			<div style="visibility: visible; animation-name: zoomIn;" class="col-md-12 text-center wow zoomIn">
				<div class="footer_copyright">
					<p> © Copyright, All Rights Reserved.</p>					
					<div class="credits">
                        <!-- 
                            All the links in the footer should remain intact. 
                            You can delete the links only if you purchased the pro version.
                            Licensing information: https://bootstrapmade.com/license/
                            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Tempo
                        -->
                        
                    </div>
				</div>
			</div>
		</div>
	</div>
    <script>
        $(function () {
            $('#contact-Print').click(function () {
                var str = uid, bid, sid, ss;
                $.each($('#place li.' + settings.SelectingSeatCss + 'a'), function (index, value) {
                    ss = $(this).attr('title');
                    uid = Session["suserid"];
                    sid = Session["s"];
                    str.push(ss);
                })
                print();
            })
        });
       
    </script>
  	<script src="js/jquery.min.js"></script>
  	<script src="js/jquery.easing.min.js"></script>
  	<script src="js/bootstrap.min.js"></script>
  	<script src="js/jquery.mixitup.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>
    <script src="contactform/contactform.js"></script>
    
</body>
</html>

